.rep1{
    background-color: #C4C4C4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:15px;
    padding:1em;
    border-radius: 0.5em;
}

 
.amount{
    align-text: right;  
}

 h5{
    align-content: center;
}

h3{
    font-size: 2em;
    color: black;
    align-self: center;
}