.groups1{
    background-color: #4D4343;
    border-radius: 1.2em;
    display: flex;
    width:  20vw;
    flex-wrap:  wrap;
    margin: 1em;
    padding: 1em;
}
.pic{
    align-items:left;
}

.amt {
    color: #00ff00;
    text-align: right;
    margin-left: 3em; 

}

.name{
    text-align: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-transform: capitalize ;
}
.name *{
    justify-content: center;
}

.mainfriends *{
    display: inline-block;
}