.groups1{
    background-color: #4D4343;
    border-radius: 1.2em;
    display: flex;
    width:  20vw;
    flex-wrap:  wrap;
    margin: 1em;
    padding: 1em;
}
.pic{
    align-items:left;
}

.amt {
    color: #00ff00;
    text-align: right;
    margin-left: 3em;

}

.name{
    text-align: center;
    width: 9em;
    color: white;
}

.mainfriends *{
    display: inline-block;
}